/*global*/
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: arial;
    background-color: #00723f;
}

p {
    line-height: 1.5;
    color: black;
}

a {
    /*color: black;*/
    text-decoration: none;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

label {
    color: white;
}

/* index */

.text-center{
    margin-top: 150px;
}

.div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7f9ff;
    padding: 10px;
    border-radius: 20px;
}

.index-flex{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.index-flex img{
    width: 329px;
    height: 180px;
    margin: 0 20px;
}

.p-index{
    font-family: 'arial';
    text-align: left;
}

/* home */
.home-container{
    font-size: 20px;
}

.home-container p{
    text-align: left;
    line-height: 1;
    color: white;
}

/* contact-container */
.contact-container p{
    text-align: left;
    line-height: 1;
    color: white;
}

.contact-container a{
    color: pink;
}
.contact-container a:hover{
    color: white;
}